body {
    background-color:white;
}
.frame {
    position: absolute;
    left: 16%;
    top:3%;
    background-color: #FBE3BE;
    width: 70%; 
    height: 94%;
}
.container{
    width: 100%;
    height: 100%; 
}