body {
    background-color: #FBE3BE;
}
.container{
    text-align: center;
    max-width: 32%;
    max-height: 32%;
}

img{
    max-width: 100%;
    max-height: auto;
}

.ingredient-section{
    display: flex;
}
.ingredient-1{
    flex: 1;
}
.ingredient-2{
    flex: 1;
}
.ingredient-3{
    flex: 1;
}

.shelf{
    max-width: 305%;
}
.fixed-section{
    overflow: hidden;
}
.table{
    left: 0%;
    bottom: 0%;
    position: fixed;
}
.margin{
    margin-bottom: 180%;
}