.frame {
    position: absolute;
    left: 30.5%;
    background-color: #FBE3BE;
    width: 40%;

}
.container{
    width: 80%;
    height: 80%;
    
}

img{
    max-width: 40%;
    max-height: auto;
}

.ingredient-section{
    display: flex;
}
.ingredient-1{
    flex: 1;
}
.ingredient-2{
    flex: 1;
}
.ingredient-3{
    flex: 1;
}

.shelf{
    max-width: 125%;
}

.fixed-section{
    overflow: hidden;
}
.table{
    left: 30.5%;
    bottom: 0%;
    position: fixed;
    z-index: 1;
}
.margin{
    margin-bottom: 70%;
}

.fixed-section2{
    overflow: hidden;
}
.bowl{
    left: 30.5%;
    bottom: 2%;
    position: fixed;
    z-index: 9999;
}

#blank{
    height: 200px;
    width: 5px;
}
/*scrollbar 넓이*/
::-webkit-scrollbar {
    width: 20px;
}
/*배경 색*/
::-webkit-scrollbar-track {
    background-color:#FBE3BE;
}
/* 구간 배경 색상 */
::-webkit-scrollbar-thumb {
    background-color:rgb(180, 110, 43);
} 
/*상하단 버튼 넓이&색깔 */
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
width:16px; height:16px; background-color:rgb(119, 75, 34);
} 
