#result{
    position: absolute;
    font-size: 36px;
    width: 100%;
    top: 50px;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: center;
}

#title{
    position: absolute;
    font-size: 48px;
    color: #905F33;
    width: 100%;
    top: 100px;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: center;
}

#address{
    position: absolute;
    font-size: 24px;
    width: 100%;
    top: 150px;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: center;
}

#image{
    position: absolute;
    width: 100%;
    top: 190px;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: center;
}

#image img {
    object-fit: contain;
    width: 330px;
    height: auto;
}

#btn{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -50%;
    text-align: center;
}

#btn_img{
    object-fit: contain;
    width: 40px;
    height: auto;
    margin: 70px;
    margin-top: -70px;
    margin-bottom: -70px;
}

#btn_img:hover{
    opacity: 0.8;
}
/*scrollbar 넓이*/
::-webkit-scrollbar {
    width: 20px;
}
/*배경 색*/
::-webkit-scrollbar-track {
    background-color:#FBE3BE;
}
/* 구간 배경 색상 */
::-webkit-scrollbar-thumb {
    background-color:rgb(180, 110, 43);
} 
/*상하단 버튼 넓이&색깔 */
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
width:16px; height:16px; background-color:rgb(119, 75, 34);
} 
