body {
    background-color: #FBE3BE;
}
.container{
    max-width: 32%;
    max-height: 32%;
}
.start_button{
    top:48%;
    left: 5%;
    position: absolute;
}
.howplay_button{
    top:63%;
    left: 9%;
    position: absolute;
}